@import 'Common';

.tabBar{
    li{
      &:nth-of-type(1){
        a{
          color: #513736;
        }
      }
    }
}

.Main{
  height: 85.8%;
  .mainSection{
    header{
      height: 32px;
      line-height: 32px;
      padding-left: 15px;
      border: 1px solid #ebebeb;
      border-left: none;
      border-right: none;
      color: #b6b5b1;
    }
    ul{
      display: flex;
      flex-direction: column;
      a{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
      }
    }
    .profileName{
      flex: auto;
    }
    .profileMessages{
      height: 30px;
      line-height: 30px;
      margin-right: 15px;
      padding: 10px;
      border-radius: 5px;
      background: #f0f0f0;
      font-size: 10px;
      color: #8e9399;
    }
  }
}